header {
    width: 100%;
    padding: 38px 50px 0 100px;
    background-color: #636363;
    height: 670px;
    
}
.nav {
    display: flex;
    justify-content: space-between;

    &-logo {
        color: $primary-color;
        font-family:  'Architects Daughter', cursive;
        font-size: 150%;
    }
    &-icons__item {
        padding: 0 25px;
    }
}
.menu-nav {
    display: flex;
    flex-direction: row;
    &__link {
        padding: 0 30px 0;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}
.main-header {
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    font-size: 200%;
    transform: translate(0,-25%);
    
    &__fist{
        font-size: 18.62px;
        font-weight: bold;
        letter-spacing: 3px;
    }
    &__second {
        font-size: 64px;
        font-weight: bold;
        padding: 25px 0 15px;
        letter-spacing: 3pxs;
    }
    &__third {
        // font-family: 'Architects Daughter', cursive;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 64px;
        letter-spacing: 3px;
        color: $primary-color;
    }
}
.show-down {
    width: 100%;
    text-align: center;
    font-size: 30px;
}
